services:
  
  tailscale:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: ts-${TS_HOSTNAME}
    restart: unless-stopped
    hostname: ${TS_HOSTNAME}
    environment:
      - TS_AUTHKEY=${TS_AUTHKEY}
      - TS_STATE_DIR=/var/lib/tailscale
      - TS_DOMAIN_NAME=${TS_HOST_FQDN}
    volumes:
      - ts-state:/var/lib/tailscale
      - ts-certs:/certs
      - /dev/net/tun:/dev/net/tun
    cap_add:
      - net_admin
      - sys_module

  # service:
  #   image: your-service:latest
  #   network_mode: service:tailscale
  #   depends_on:
  #     - tailscale
  #   volumes:
  #     - ts-certs:/certs
  # # Additional service configuration...

volumes:
  ts-state:
  ts-certs:
